body{
    margin: 0px;
    padding: 0px;
}
div{
    width: 100px;
    text-align: center;
    margin-top: 20px;
    font-weight: 200px;
    color: aqua;
}
input{
    padding: 8px 4px 8px 4px;
    font-size: 16px;
    border: none;
    background-color: black;
    border-bottom: 1px solid;
    margin-right:auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    outline: none;
    text-align: center;
}
button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
    user-select: none;
    outline: none;
}
